@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
:root {
  --header-light-background-color: rgba(255, 255, 255, 1);
  --header-dark-background-color: rgba(17, 17, 17, 1);
  --main-light-background-color: rgba(246, 246, 246, 1);
  --main-dark-background-color: rgba(32, 32, 36, 1);
  --inactive-background-color: rgba(17, 17, 17, 0.4);
  --primary-font-color: rgba(0, 0, 0, 1);
  --secondary-font-color: rgba(79, 46, 232, 1);
  --tertiary-font-color: rgba(17, 17, 17, 0.5);
  --quaternary-font-color: rgba(255, 255, 255, 1);
  --quinary-font-color: rgba(255, 255, 255, 1);
  --senary-font-color: rgba(0, 0, 0, 0.6);
  --septenary-font-color: rgba(243, 243, 243, 1);
  --nonary-font-color: rgba(255, 255, 255, 0.5);
  --denary-font-color: rgba(17, 17, 17, 1);
  --tenth-font-color: rgba(180, 175, 175, 1);
  --primary-border-color: rgba(17, 17, 17, 1);
  --secondary-border-color: rgba(79, 46, 232, 1);
  --tertiary-border-color: rgba(79, 46, 232, 0.4);
  --quaternary-border-color: rgba(255, 255, 255, 1);
  --quinary-border-color: rgba(79, 46, 232, 0.3);
  --senary-border-color: rgba(17, 17, 17, 1);
  --primary-icon-color: rgba(255, 255, 255, 1);
  --secondary-icon-color: rgba(17, 17, 17, 1);
  --primary-object-background-color: rgba(234, 198, 69, 1);
  --secondary-object-background-color: rgba(79, 46, 232, 1);
  --tertiary-object-background-color: rgba(246, 246, 246, 1);
  --quaternary-object-background-color: rgba(255, 255, 255, 1);
  --quinary-object-background-color: rgba(32, 32, 36, 1);
}

body {
  background-color: var(--main-light-background-color);
  color: var(--denary-font-color);
}

* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

svg {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--header-light-background-color);
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid var(--primary-border-color);
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__navigation {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .header__navigation-link {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.56px;
    display: flex;
    color: var(--denary-font-color);
    flex-direction: row;
    padding: 8px 16px;
    border-radius: 18px;
    background-color: var(--primary-object-background-color);
    text-transform: uppercase;
  }
  .header__navigation-icon {
    margin-left: 8px;
  }
}
.header__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media screen and (min-width: 1440px) {
  .header__wrapper {
    -moz-column-gap: 76px;
         column-gap: 76px;
  }
}

.logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.theme-button {
  padding: 1px;
  width: 40px;
  height: 20px;
  border-radius: 18px;
  margin-right: 14px;
  border: none;
  background-image: linear-gradient(to bottom, rgb(79, 46, 232), rgb(220, 220, 220));
  cursor: pointer;
}
.theme-button__icon {
  flex-shrink: 0;
  fill: var(--quaternary-object-background-color);
  border-radius: 50%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--quaternary-object-background-color);
}

.menu-toggle {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.menu-toggle__icon {
  fill: var(--secondary-icon-color);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.sign-up-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .sign-up-btn {
    display: flex;
    cursor: pointer;
    border: 1.5px solid var(--primary-border-color);
    border-radius: 18px;
    padding: 14px;
    -moz-column-gap: 90px;
         column-gap: 90px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -0.56px;
    background-color: var(--secondary-object-background-color);
    color: var(--quaternary-font-color);
  }
}
.sign-up-btn__icon {
  fill: var(--primary-object-background-color);
}

.log-out-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .log-out-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--quaternary-object-background-color);
    width: 184px;
    height: 48px;
    padding: 14px;
    font-size: 14px;
    border-radius: 18px;
    font-weight: 500;
    color: var(--secondary-icon-color);
    border: 1px solid var(--secondary-icon-color);
    cursor: pointer;
  }
}
.log-out-btn__icon {
  fill: var(--primary-object-background-color);
}

.user-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .user-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-object-background-color);
    width: 184px;
    height: 45px;
    padding: 0 12px;
    border-radius: 36px;
    border: none;
    cursor: pointer;
  }
}
.user-btn__img {
  border-radius: 50%;
}
.user-btn__userName {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: var(--quaternary-font-color);
}
.user-btn__icon {
  fill: var(--primary-icon-color);
}

@media screen and (min-width: 768px) {
  .visually-hidden {
    display: none;
  }
}

.js-open-menu:disabled,
.js-close-menu:disabled {
  display: none;
}

.backdrop-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 550;
  background-color: var(--inactive-background-color);
  cursor: not-allowed;
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.popup {
  width: 100%;
  max-width: 335px;
  border-radius: 18px;
  border: 2px solid var(--senary-border-color);
  background-color: var(--quaternary-object-background-color);
  margin: auto;
  cursor: auto;
  padding: 40px 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: auto;
}
.popup__btn-close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__icon-close {
  fill: var(--denary-font-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.popup__icon-close:hover, .popup__icon-close:focus {
  fill: var(--secondary-font-color);
  cursor: pointer;
}
.popup__details {
  display: flex;
  flex-direction: column;
}
.popup__photo {
  width: 100%;
  height: 408px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 24px;
}
.popup__description {
  width: 100%;
}
.popup__title {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: -0.64px;
  margin-bottom: 4px;
  margin-top: 14px;
}
.popup__author {
  color: var(--tenth-font-color);
  font-size: 12px;
  font-style: italic;
  line-height: 14px;
  letter-spacing: -0.48px;
}
.popup__text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.56px;
  margin: 18px 0;
}
.popup__shops {
  display: flex;
  align-items: first baseline;
}
.popup__amazon-book {
  display: flex;
  align-items: center;
  width: 115px;
  justify-content: space-between;
}
.popup__amazon {
  width: 62px;
  height: 28px;
  background-color: var(--quaternary-object-background-color);
  background-image: url("../images/amazon.png");
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 8px;
}
.popup__icon-book {
  width: 32px;
  height: 32px;
  background-image: url("../images/amazon-book.png");
}
.popup__shops-list {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.56px;
  margin-left: 5px;
  font-weight: 500;
}
.popup__shops-link {
  color: orange;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.popup__shops-link:hover, .popup__shops-link:focus {
  color: var(--secondary-font-color);
}
.popup__btn-add, .popup__btn-remove {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  border: 2px solid var(--secondary-border-color);
  padding: 14px 23px;
  border-radius: 40px;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.popup__btn-add:hover, .popup__btn-add:focus, .popup__btn-remove:hover, .popup__btn-remove:focus {
  background-color: var(--secondary-object-background-color);
  color: var(--quaternary-font-color);
  cursor: pointer;
}
.popup__btn-text-hidden {
  display: none;
}
.popup__comment {
  text-align: center;
  font-size: 10px;
  color: var(--tertiary-font-color);
  line-height: 12px;
  letter-spacing: -0.4px;
  max-width: 235px;
  width: 100%;
  margin: 0 auto;
  margin-top: 8px;
}

.popup-dark-theme {
  background-color: var(--main-dark-background-color);
  border: 2px solid var(--quaternary-border-color);
  color: var(--quaternary-font-color);
}

.icon-close-dark-theme {
  fill: var(--quaternary-font-color);
}

.btn-add-dark-theme,
.btn-remove-dark-theme {
  color: var(--quaternary-font-color);
}

.comment-dark-theme {
  color: var(--nonary-font-color);
}

@media screen and (min-width: 768px) {
  .popup {
    width: 100%;
    max-width: 579px;
    padding: 40px;
    position: relative;
  }
  .popup__btn-close {
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  .popup__details {
    flex-direction: row;
  }
  .popup__photo {
    width: 192px;
    height: 281px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 24px;
  }
  .popup__description {
    max-width: 279px;
  }
  .popup__title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.96px;
    margin-bottom: 8px;
    margin-top: 0;
  }
  .popup__author {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.56px;
  }
  .popup__text {
    margin: 20px 0;
  }
  .popup__btn-add, .popup__btn-remove {
    max-width: 499px;
    width: 100%;
    padding: 20px 0;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.18px;
  }
  .popup__comment {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.48px;
    max-width: 324px;
  }
}/*# sourceMappingURL=main.css.map */