/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './utils/mixins';
@import './utils/variables';
@import './utils/basic';
@import './partials/header';
@import './partials/mobile-menu';
@import './partials/support';
@import './partials/pop-up';
@import './partials/modal-registration';
@import './partials/button-signUp-logOut';
@import './partials/shopping-list';
@import './partials/button';
@import './partials/scroll-up';
@import './partials/home-page';
@import './partials/books-gallery';
@import './partials/booklist';
