body {
  background-color: var(--main-light-background-color);
  font-family: 'DM Sans', sans-serif;
  color: var(--primary-font-color);
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include medium {
    max-width: 768px;
  }
  @include large {
    max-width: 1200px;
  }
}
