body {
  background-color: var(--main-light-background-color);
  color: var(--denary-font-color);
}

* {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
svg {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  // @include medium {
  //   max-width: 768px;
  // }

  // @include large {
  //   max-width: 1440px;
  // }
}
