// @mixin small {
//   @media screen and (min-width: 375px) {
//     @content;
//   }
// }
@mixin medium {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin large {
  @media screen and (min-width: 1440px) {
    @content;
  }
}
