:root {
  --header-background-color: rgba(255, 255, 255, 1);
  // --header-dark-background-color: rgba(17, 17, 17, 1);
  --main-background-color: rgba(246, 246, 246, 1);
  // --main-dark-background-color: rgba(32, 32, 36, 1);
  --inactive-background-color: rgba(17, 17, 17, 0.4);

  --primary-font-color: rgba(0, 0, 0, 1);
  --secondary-font-color: rgba(79, 46, 232, 1);
  --tertiary-font-color: rgba(17, 17, 17, 0.5);
  --quaternary-font-color: rgba(255, 255, 255, 1);
  --quinary-font-color: rgba(255, 255, 255, 1);
  --senary-font-color: rgba(0, 0, 0, 0.6);
  --septenary-font-color: rgba(243, 243, 243, 1);
  --nonary-font-color: rgba(255, 255, 255, 0.5);
  --denary-font-color: rgba(17, 17, 17, 1);
  --tenth-font-color: rgba(180, 175, 175, 1);

  --primary-border-color: rgba(17, 17, 17, 1);
  --secondary-border-color: rgba(79, 46, 232, 1);
  --tertiary-border-color: rgba(79, 46, 232, 0.4);
  --quaternary-border-color: rgba(255, 255, 255, 1);
  --quinary-border-color: rgba(79, 46, 232, 0.3);
  --senary-border-color: rgba(17, 17, 17, 1);

  --primary-icon-color: rgba(255, 255, 255, 1);
  --secondary-icon-color: rgba(17, 17, 17, 1);

  --primary-object-background-color: rgba(234, 198, 69, 1);
  --secondary-object-background-color: rgba(79, 46, 232, 1);
  --tertiary-object-background-color: rgba(246, 246, 246, 1);
  --quaternary-object-background-color: rgba(255, 255, 255, 1);
  --quinary-object-background-color: rgba(32, 32, 36, 1);
}
// .dark-theme {
//   --header-background-color: rgba(17, 17, 17, 1);
//   --main-background-color: rgba(32, 32, 36, 1);
//   --primary-border-color: rgba(255, 255, 255, 1);
//   --primary-font-color: rgba(243, 243, 243, 1);
//   --secondary-icon-color: rgba(255, 255, 255, 1);
//   --denary-font-color: rgba(255, 255, 255, 1);
//   --secondary-icon-color: rgba(255, 255, 255, 1);
// }
