<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header class="header"> TU BĘDZIE HEADER</header>
<main class="main-page"> -->
<div class="side-bar">
  <div class="side-bar__categories">
    <h3>ALL CATEGORIES</h3>
    <ul class="side-bar_category-list">
      <li>Combined Print and E-book Fiction</li>
      <li>Combined Print & E-book Nonfiction</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
      <li>book category</li>
    </ul>
  </div>
  <div class="side-bar__support">tu będzie blok z support ukraine</div>
  <div class="main-content">
    <h2>category name</h2>
    <div class="galler"></div>
  </div>
  <!-- </main>
<footer></footer>
</body>
</html> -->
</div>
