<div class="registration-backdrop is-hidden">
  <div class="registration-modal">
    <button class="registration-close-btn" type="button">
      <svg class="registration-close-icon" width="28" height="28">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>

    <form clas="registration-modal-form">
      <div class="registration-modal-field">
        <label></label>
        <input
          type="text"
          id="user-name"
          class="registration-modal-input"
          name="userName"
          placeholder="Name"
        />
      </div>

      <div class="registration-modal-field">
        <label></label>
        <div class="registration-modal__field-wrapper">
          <input
            type="text"
            id="user-email"
            class="registration-modal-input"
            placeholder="Email"
            name="userEmail"
          />
          <svg class="registration-modal-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-mail"></use>
          </svg>
        </div>
      </div>

      <div class="registration-modal-field">
        <label></label>
        <div class="registration-modal-field-wrapper">
          <input
            type="password"
            id="user-password"
            class="registration-modal-input"
            name="userPassword"
            placeholder="Password"
          />
          <svg class="registration-modal-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-lock"></use>
          </svg>
        </div>
      </div>
      <button class="signup-btn" type="submit">Sign up</button>
    </form>

    <div class="registration-sending">
      <button class="sign-link sign-up-link" type="button">Sing up</button>
      <button class="sign-link sign-in-link" type="button">Sign in</button>
    </div>
  </div>
</div>
