<div class="registration-backdrop is-hidden">
  <div class="registration-modal">
    <button type="button">
      <svg class="" width="28" height="28">
        <use href=""></use>
      </svg>
    </button>

    <form>
      <div>
        <label></label>
        <input type="text" id="user-name" class="" name="userName" placeholder="Name" />
      </div>

      <div>
        <label></label>
        <div>
          <input type="text" id="user-email" class="" placeholder="Email" name="userEmail" />
          <svg class="" width="28" height="28">
            <use href=""></use>
          </svg>
        </div>
      </div>

      <div>
        <label></label>
        <div>
          <input
            type="password"
            id="user-password"
            class=""
            name="userPassword"
            placeholder="Password"
          />
          <svg class="" width="28" height="28">
            <use href=""></use>
          </svg>
        </div>
      </div>
      <button type="submit">Sign up</button>
    </form>

    <div>
      <button type="button">Sing up</button>
      <button type="button">Sing in</button>
    </div>
  </div>
</div>
