<div class="registration-backdrop registration-hidden" registration-data-modal>
  <div class="registration-modal">
    <button class="registration-close-btn" type="button" registration-data-modal-close>
      <svg class="registration-close-icon" width="28" height="28">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>

    <form class="registration-modal-form">
      <div class="registration-modal-field name-input-container">
        <label for="user-name"></label>
        <input type="text" id="user-name" class="registration-modal-input input-name valid" name="userName"
          placeholder="Name" title="Please enter your name" />
      </div>
      <p class="name-error warning-valid">Please fill in the correct format</p>

      <div class="registration-modal-field">
        <label for="user-email"></label>
        <div class="registration-modal-field-wrapper">
          <input type="text" id="user-email" class="registration-modal-input input-email valid" placeholder="Email"
            name="userEmail" title="Please enter your email" />
          <svg class="registration-modal-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-mail"></use>
          </svg>
        </div>
        <p class="email-error warning-valid">Please fill in the correct format</p>
      </div>

      <div class="registration-modal-field">
        <label for="user-password"></label>
        <div class="registration-modal-field-wrapper">
          <input type="password" id="user-password" class="registration-modal-input  input-password valid"
            name="userPassword" placeholder="Password" title="Minimum eight characters" />
          <svg class="registration-modal-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-lock"></use>
          </svg>
        </div>
        <p class="password-error warning-valid">Please fill in the correct format</p>
      </div>
      <button class="sign-up-modal" type="submit">Sign up</button>
      <button class="sign-in-modal btn-sing-in-up-hidden" type="submit">Sign in</button>

    </form>

    <div class="registration-sending">
      <button class="sign-link sign-up-link" type="button">Sign up</button>
      <button class="sign-link sign-in-link" type="button">Sign in</button>
    </div>
  </div>
</div>