<div class="centering">
  <div class="support-shopping">
    <include src="./partials/support.html"></include>
  </div>
  <div class="shopping">
    <h2 class="title-shopping">Shopping<span class="title-list">List</span></h2>
    <div class="empty-list">
      <p class="empty-list__text">This page is empty, add some books and proceed to order.</p>
      <img src="/src/images/books-empty-page@1x.png" alt="Książki" />
    </div>
  </div>
</div>

<!--<div class="backdrop-shop shop-is-hidden">
  <div class="shop">
    <button type="button" class="shop__btn-trash">
      <svg class="shop__icon-trash" width="13.5" height="13.5">
        <use href="./images/icons.svg#icon-trash"></use>
      </svg>
    </button>

    <div class="shop__details">
      <div class="shop__photo">
        <img
          src="/src/images/placeholder-book-cover-icon.svg"
          alt="book cover photo"
          class="shop__img"
        />
      </div>

      <div class="shop__description">
        <h4 class="shop__description-details">I will find you</h4>
      <p class="shop__book-title">Hardcover fiction</p>
      <p class="shop__text">David Burroughs was once a devoted father to his three-year-old son Matthew, living a...</p>
      <p class="shop__book-author">Harlan Coben</p>
    </div>
        <div class="shop__books">
          <div class="shop__amazon-book">
            <a href="" class="shop__amazon" target="_blank"></a>
            <div class="shop__icon-book"></div>
          </div>
          <ul class="shop__books-list">
            <img
              class="books-gallery__image"
              alt="book cover"
              src="https://storage.googleapis.com/du-prd/books/images/9781984826398.jpg"
            />
          </ul>
        </div>
      </div>
  </div>
</div>-->
