<div class="centering">
  <div class="support-shopping">
    <include src="./partials/support.html"></include>
  </div>
  <div class="shopping">
    <h2 class="title-shopping">Shopping<span class="title-list">List</span></h2>
    <div class="empty-list">
      <p class="empty-list__text">This page is empty, add some books and proceed to order.</p>
      <img class="empty-list__image" src="/src/images/books-empty-page@1x.png" alt="Book Image" />
    </div>
    <div class="shopping-gallery"></div>
    <div class="shopping-pagination">
      <div class="shopping-pagination__btn-first">
        <button
          class="shopping-pagination__btn shopping-pagination__btn-arrow shopping-pagination__btn-black-background btn-first-page">&Lt;</button>
        <button
          class="shopping-pagination__btn shopping-pagination__btn-arrow shopping-pagination__btn-black-background btn-prev-page">&lt;</button>
      </div>
      <div class="shopping-pagination__btn-second">

      </div>
      <div class="shopping-pagination__btn-first">
        <button
          class="shopping-pagination__btn shopping-pagination__btn-arrow shopping-pagination__btn-yellow-background btn-next-page">&gt;</button>
        <button
          class="shopping-pagination__btn shopping-pagination__btn-arrow shopping-pagination__btn-yellow-background btn-last-page">&Gt;</button>
      </div>
    </div>
  </div>
</div>