<div class="support">
    <h2 class="support__title">
        Support Ukraine
        <svg class="support__icon-ua" width="20" height="32">
            <use href="./images/icons.svg#icon-support-ukraine-logo"></use>
        </svg>
    </h2>

    <div id="support__list"></div>

    <!-- <button type="button" class="support__button-down">
    
    <svg class="icon-down" width="20" height="32">
    <use href="./images/icons.svg#icon-down"></use>
</svg>
</button>
<!-- <button type="button" class="support__button-up"></button> -->
</div>