/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  

   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 12px;
    height: 114px;
  }
  

.side-bar__categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
    width: 335px;
    max-height: 228px;
    overflow: auto;
    line-height: 18px;
    color: var(--tertiary-font-color);
    @include medium{
      max-height: 472px;
      max-width: 337px;
      font-size: 18px;
      line-height: 24px;
      margin: 0;
      gap: 32px;
    }
    
}



.side-bar__categories-item:focus{
    font-weight: 700;
    color: var(--secondary-border-color);
    text-transform: uppercase;
}

