.category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &__title {
    color: #111;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -1.92px;
  }
  &__list {
    font-size: 28px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    column-gap: 24px;
  }
  &__item {
    overflow: hidden;
    flex-basis: 335px;
  }
  &__cover {
    font-size: 25px;
  }
  &__image {
    width: 180px;
    height: 256px;
    border-radius: 8px;
  }
  &__book-title {
    color: #111;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 112.5% */
    letter-spacing: -0.64px;
    text-transform: uppercase;
  }
  &__book-author {
    color: #b4afaf;
    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;
  }
}

.gallery-hidden {
  display: none;
}
