.header {
  background-color: var(--header-light-background-color);
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid var(--primary-border-color);
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 14px;
  }
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.theme-button {
  padding: 1px;
  width: 40px;
  height: 20px;
  border-radius: 18px;
  border: none;
  background-image: linear-gradient(to bottom, rgba(79, 46, 232, 1), rgba(220, 220, 220, 1));

  cursor: pointer;
  &__icon {
    flex-shrink: 0;
    fill: var(--quaternary-object-background-color);
    border-radius: 50%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
      1px 1px 2px rgba(0, 0, 0, 0.1);
    background-color: var(--quaternary-object-background-color);
  }
}
.menu-toggle {
  border: none;
  background-color: inherit;
  cursor: pointer;
  &__icon {
    fill: var(--secondary-icon-color);
  }
}
