.main-content-wrapper {
  @include large {
    display: flex;
    column-gap: 40px;
  }
}

.gallery-wrapper {
  display: flex;
  justify-content: center;
}

.side-bar {
  margin: 104px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include medium {
    flex-direction: row;
    column-gap: 32px;
    margin: 115px 0 100px 0;
    justify-content: center;
  }

  @include large {
    display: flex;
    flex-direction: column;
    row-gap: 86px;
    margin-bottom: auto;
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
    max-width: 335px;
    max-height: 228px;
    overflow: auto;
    line-height: 18px;
    color: var(--tertiary-font-color);
    padding-right: 15px;

    @include medium {
      max-height: 472px;
      max-width: 337px;
      font-size: 18px;
      line-height: 24px;
      margin: 0;
      gap: 32px;
    }

    @include large {
      max-width: 356px;
    }
  }

  &__categories-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: var(--category-on-focus-color);
      cursor: pointer;
    }

    &:focus {
      font-weight: 700;
      color: var(--category-on-focus-color);
      text-transform: uppercase;
    }
  }
}
