.menu-container {
  z-index: 300;
  margin-top: 60px;
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  overflow-y: auto;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }
  &__navigation {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 301;
    flex-direction: column;
    row-gap: 16px;
    &-link {
      color: var(--quinary-font-color);
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: -0.56px;
      padding: 8px 16px;
      display: inline-block;

      &--shopping-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 4px;
      }
    }
    &-icon {
      fill: var(--primary-icon-color);
    }
  }
  &__image {
    background-image: url('../images/books-background@2x.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @include medium {
    display: none;
  }
}
.sign-up-mobile-btn {
  position: absolute;
  left: 20px;
  top: 40px;
  z-index: 301;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid var(--primary-border-color);
  border-radius: 18px;
  padding: 14px;
  width: 118px;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--secondary-object-background-color);
  color: var(--quaternary-font-color);
  &__icon {
    fill: var(--primary-object-background-color);
  }
}
.log-out-mobile-btn {
  position: absolute;
  left: 20px;
  bottom: 100px;
  display: none;
  align-items: center;
  justify-content: space-between;
  z-index: 301;
  background-color: var(--quaternary-object-background-color);
  width: 118px;
  height: 48px;
  padding: 14px;
  font-size: 14px;
  border-radius: 18px;
  font-weight: 500;
  color: var(--secondary-icon-color);
  border: 1px solid var(--secondary-icon-color);
  cursor: pointer;

  &__icon {
    fill: var(--primary-object-background-color);
  }
}

.user-mobile-btn {
  z-index: 301;
  position: absolute;
  left: 20px;
  top: 40px;
  display: none;
  align-items: center;
  column-gap: 9px;
  background-color: inherit;
  width: 184px;
  height: 45px;
  padding: 0 12px;
  border-radius: 36px;
  border: none;
  cursor: pointer;
  color: var(--quaternary-font-color);
  &__img {
    border-radius: 50%;
  }
  &__userName {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.4;
  }
}
