.registration-backdrop {
  display: flex;
  position: fixed;
  padding: 0 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-border-color);
  z-index: 400;
  z-index: 400;
  cursor: not-allowed;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.registration-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(0);
}

.registration-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 335px;
  padding: 16px 20px 40px 20px;
  border: 2px solid var(--primary-border-color);
  background-color: var(--main-background-color);
  border-radius: 18px;

  @include medium {
    padding: 52px 40px 40px 40px;
    max-width: 579px;
  }
}

.registration-close-icon {
  pointer-events: none;
}

.registration-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  stroke: var(--secondary-icon-color);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;

  @include medium {
    top: 24px;
    right: 24px;
    font-size: 18px;
  }

  &:hover {
    stroke: var(--secondary-font-color);
  }
}

.registration-modal-field {
  margin-top: 24px;

  @include medium {
    margin-top: 28px;
  }
}

.registration-modal-field-wrapper {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.registration-modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: var(--secondary-icon-color);
  fill: white;

  @include medium {
    width: 24px;
    height: 24px;
  }
}

.registration-modal-input {
  width: 100%;
  height: 50px;
  padding: 18px 32px;
  border-radius: 40px;
  color: var(--primary-font-color);
  font-size: 18px;
  outline: none;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include medium {
    height: 64px;
  }

  &::placeholder {
    text-transform: uppercase;
    color: var(--primary-font-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

    @include medium {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.registration-modal-field-wrapper:hover .registration-modal-icon,
.registration-modal-field-wrapper:focus .registration-modal-icon {
  stroke: var(--secondary-font-color);
}

.name-input-hidden {
  display: none;
}

.sign-up-modal,
.sign-in-modal {
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--septenary-font-color);
  padding: 12px;
  width: 100%;
  height: 50px;
  margin-top: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--primary-buttonsign-background-color);
  letter-spacing: -1px;
  border-radius: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--secondary-object-background-color);
  }

  @include medium {
    height: 64px;
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 40px;
  }
}

.btn-sing-in-up-hidden {
  display: none;
}

.registration-sending {
  margin-top: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;

  @include medium {
    margin-top: 20px;
  }
}

.sign-up-link,
.sign-in-link {
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--tertiary-font-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  &:hover,
  &:focus {
    color: var(--secondary-font-color);
    border-bottom: 1px solid var(--secondary-font-color);
  }
}

.name-error,
.email-error,
.password-error {
  text-align: right;
  margin-right: 30px;
}

.valid {
  border: 2px solid var(--primary-border-color);

  &:focus,
  &:hover {
    border-color: var(--secondary-border-color);
    outline: none;
  }
}

.invalid {
  border: 2px solid #ff6f5b;

  &:focus,
  &:hover {
    border-color: #ff6f5b;
    outline: none;
  }
}

.disabled {
  &:hover,
  &:focus {
    background-color: rgba(17, 17, 17, 1);
    cursor: not-allowed;
  }
}

.warning-valid {
  color: transparent;
}

.warning-invalid {
  color: #ff6f5b;
}
