.centering {
  display: flex;
  flex-direction: row;
  margin-top: 112px;
}

.support-shopping {
  display: none;
}

.shopping {
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.title-shopping {
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1.92px;
}

.title-list {
  color: var(--secondary-font-color);
  margin-left: 15px;
}

.empty-list {
  display: grid;
  grid-row: inherit;
  text-align: center;
  flex-direction: column;
  width: 100%;
  max-width: 265px;
  height: 248px;
  gap: 14px;
  margin: 0 auto;
  padding-top: 120px;
}

.hidden {
  display: none;
}

.empty-list__text {
  font-family: DM Sans;
  width: 100%;
  max-width: 244px;
  height: 36px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: center;
}

.empty-list__image {
  display: flex;
  width: 265px;
  height: 198px;
}

.shopping-gallery {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
}

.shop {
  padding: 14px;
  border-radius: 16px;
  border: 2px solid var(--secondary-font-color);
  cursor: auto;
  position: relative;
  display: flex;

  &__btn-trash {
    position: absolute;
    right: 14px;
    top: 14px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    background-color: var(--secondary-object-background-color);
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='trash-03'%3E%3Cpath id='Icon' d='M6.75 2.25H11.25M2.25 4.5H15.75M14.25 4.5L13.724 12.3895C13.6451 13.5732 13.6057 14.165 13.35 14.6138C13.1249 15.0088 12.7854 15.3265 12.3762 15.5248C11.9115 15.75 11.3183 15.75 10.132 15.75H7.86799C6.68168 15.75 6.08852 15.75 5.62375 15.5248C5.21457 15.3265 4.87507 15.0088 4.64999 14.6138C4.39433 14.165 4.35488 13.5732 4.27596 12.3895L3.75 4.5M7.5 7.875V11.625M10.5 7.875V11.625' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &__photo {
    width: 100px;
    height: 142px;
    border-radius: 8px;
    margin-right: 14px;
  }

  &__title {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.64px;
    text-transform: uppercase;
  }

  &__category {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.36px;
    color: var(--tenth-font-color);
    margin: 4px 0 14px 0;
  }

  &__text {
    flex-grow: 2;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 14px;
    margin-right: 14px;
    letter-spacing: -0.04em;
  }

  &__author {
    font-size: 12px;
    font-style: italic;
    line-height: 14px;
    letter-spacing: -0.48px;
    color: var(--tenth-font-color);
  }

  &__content {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
  }

  &__amazon-book {
    display: flex;
    align-items: center;
    width: 92px;
    justify-content: space-between;
  }

  &__amazon {
    width: 48px;
    height: 15px;
    background-image: url('/src/images/amazon.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__book-icon {
    width: 28px;
    height: 28px;
    background-image: url('/src/images/amazon-book.png');
    background-size: cover;
  }
}

.author-inline {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


@include medium {
  .centering {
    justify-content: center;
  }


  .title-shopping {
    padding-left: 32px;
    font-size: 48px;

  }

  .empty-list {
    width: 349px;
    height: 309px;
    gap: 20px;
    padding-left: 0;
    padding-top: 140px;
    margin: 0 auto;
  }

  .empty-list__text {
    width: 349px;
    height: 48px;
    font-size: 18px;
    line-height: 24px;
  }

  .empty-list__image {
    width: 322px;
    height: 241px;
  }

  .shopping-gallery {
    padding-left: 32px;
    padding-right: 32px;
    height: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

  }

  .shop {
    padding: 24px;

    &__btn-trash {
      right: 24px;
      top: 24px;
    }

    &__btn-close {
      width: 34px;
      height: 34px;
    }

    &__photo {
      width: 116px;
      height: 165px;
      margin-right: 24px;
    }

    &__title {
      max-width: max-content;
    }

    &__text {
      margin-bottom: 48px;
    }

    &__amazon {
      width: 48px;
      height: 15px;
    }

    &__icon-book {
      width: 28px;
      height: 27px;
    }
  }
}

@include large {
  .centering {
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
  }

  .empty-list {
    padding-left: 355px;
    margin: 0;
  }

  .support-shopping {
    display: block;
  }

  .shopping-gallery {
    padding-left: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .shopping-pagination {
    margin-top: auto;
  }

}

.shopping-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 14px;
  margin-top: 40px;
  margin-bottom: 40px;

  &__btn-first {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__btn-second {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__btn {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      scale: 1.1;
    }
  }

  &__btn-arrow {
    font-size: 30px;
    font-weight: 400;
  }

  &__btn-black-background {
    background-color: #111111;
    color: #ffffff;
  }

  &__btn-white-color {
    background-color: #ffffff;
    color: #111111;
  }

  &__btn-yellow-background {
    background-color: #eac645;
    color: #111111;
  }

  .pagination-hidden {
    display: none;
  }

  @include medium {
    .pagination-hidden {
      display: block;
    }

    .shopping-pagination {
      gap: 24px;
    }

    .shopping-pagination__btn {
      width: 44px;
      height: 44px;
    }

    .shopping-pagination__btn-first {
      gap: 8px;
    }

    .shopping-pagination__btn-second {
      gap: 5px;
    }
  }
}

.hidden {
  display: none;
}

.dark-theme .shop__amazon {
  background-image: url('../images/amazon-white.png');
}