/* // @mixin small {
//   @media screen and (min-width: 375px) {
//     @content;
//   }
// }
@mixin medium {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin large {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

body {
  background-color: #f6f6f6;
  color: #111111;
}

* {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
svg {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  //   @include medium {
  //   max-width: 768px;
  // }

  //   @include large {
  //     max-width: 1440px;
  // }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 120px;
}

.title-shopping {
  width: 193px;
  height: 38px;
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.04em;
}

.title-list {
  color: #4f2ee8;
}

@include medium {
  .title {
    padding-left: 32px;
    padding-top: 40px;
    padding-bottom: 140px;
  }

  .title-shopping {
    width: 292px;
    height: 52px;
    font-size: 48px;
    line-height: 52px;
    color: #111111;
  }
}

.empty-list {
  display: grid;
  grid-row: inherit;
  text-align: center;
  width: 265px;
  height: 248px;
  gap: 14px;
  padding-left: 55px;
}

.empty-list__text {
  font-family: DM Sans;
  width: 244px;
  height: 36px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: center;
}

.empty-list__image {
  display: flex;
  width: 265px;
  height: 198px;
}

@include medium {
  .empty-list {
    width: 349px;
    height: 309px;
    gap: 20px;
    padding-left: 210px;
  }

  .empty-list__text {
    width: 349px;
    height: 48px;
    font-size: 18px;
    line-height: 24px;
  }

  .empty-list__image {
    width: 322px;
    height: 241px;
  }
}

@include large {
  .empty-list {
    padding-left: 355px;
  }
}

//.backdrop-shop {
// position: fixed;
//top: 0;
//left: 0;
//right: 0;
//bottom: 0;
//z-index: 550;
//background-color: var(--inactive-background-color);
//cursor: not-allowed;
//display: flex;
//visibility: visible;
//opacity: 1;
//transform: scale(1);
//transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
//opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
//transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//}

//.shop-is-hidden {
//visibility: hidden;
//opacity: 0;
//pointer-events: none;
//transform: scale(0);
//}

//.shop {
//width: 100%;
//max-width: 335px;
//border-radius: 18px;
//border: 2px solid var(--senary-border-color);
//background-color: var(--quaternary-object-background-color);
//margin: auto;
//cursor: auto;
//padding: 40px 25px;
//position: relative;
//display: flex;
//flex-direction: column;
//max-height: 100vh;
//overflow-y: auto;

//&__btn-close {
//background-color: transparent;
//border: none;
//position: absolute;
//top: 12px;
//right: 12px;
//width: 24px;
//height: 24px;
//display: flex;
//align-items: center;
//justify-content: center;
//}

//&__icon-close {
//fill: var(--denary-font-color);
//transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//&:hover,
//&:focus {
//fill: var(--secondary-font-color);
//cursor: pointer;
//}
//}

//&__details {
//display: flex;
//flex-direction: column;
//}

//&__photo {
//width: 100%;
//height: 408px;
//border-radius: 8px;
//overflow: hidden;
//margin-right: 24px;
//}

//&__description {
//width: 100%;
//}

//&__title {
//font-size: 16px;
//text-transform: uppercase;
//line-height: 18px;
//letter-spacing: -0.64px;
//margin-bottom: 4px;
//margin-top: 14px;
//}

//&__author {
//color: var(--tenth-font-color);
//font-size: 12px;
//font-style: italic;
//line-height: 14px;
//letter-spacing: -0.48px;
//}

//&__text {
//font-size: 14px;
//line-height: 18px;
//letter-spacing: -0.56px;
//margin: 18px 0;
//}

//&__books {
//display: flex;
//align-items: first baseline;
//}

//&__amazon-book {
//display: flex;
//align-items: center;
//width: 115px;
//justify-content: space-between;
//}

//&__amazon {
//width: 62px;
//height: 28px;
//background-color: var(--quaternary-object-background-color);
//background-image: url('../images/amazon.png');
//background-repeat: no-repeat;
//background-position: bottom;
//border-radius: 8px;
//}

//&__icon-book {
// width: 32px;
//height: 32px;
//background-image: url('../images/amazon-book.png');
//}

//&__books-list {
//font-size: 16px;
//line-height: 25px;
//letter-spacing: -0.56px;
//margin-left: 5px;
//font-weight: 500;
//}

//&__books-link {
//color: orange;
//transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//&:hover,
//&:focus {
//color: var(--secondary-font-color);
//}
//}

//&__btn-add,
//&__btn-remove {
//display: block;
///margin: 0 auto;
//margin-top: 40px;
//border: 2px solid var(--secondary-border-color);
//padding: 14px 23px;
//border-radius: 40px;
//font-size: 13px;
//font-weight: 700;
//line-height: 18px;
//letter-spacing: -0.14px;
//text-transform: uppercase;
//background-color: transparent;
//transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//&:hover,
//&:focus {
//background-color: var(--secondary-object-background-color);
//color: var(--quaternary-font-color);
//cursor: pointer;
//}
//}

//&__btn-text-hidden {
//display: none;
//}

//&__comment {
// text-align: center;
// font-size: 10px;
// color: var(--tertiary-font-color);
// line-height: 12px;
// letter-spacing: -0.4px;
// max-width: 235px;
// width: 100%;
// margin: 0 auto;
//margin-top: 8px;
//}
//}

//.shop-dark-theme {
//background-color: var(--main-dark-background-color);
//border: 2px solid var(--quaternary-border-color);
//color: var(--quaternary-font-color);
//}

//.icon-close-dark-theme {
// fill: var(--quaternary-font-color);
//}

//.btn-add-dark-theme,
//.btn-remove-dark-theme {
// color: var(--quaternary-font-color);
//}

//.comment-dark-theme {
//color: var(--nonary-font-color);
//}

//@include medium {
//.shop {
// width: 100%;
//max-width: 579px;
//padding: 40px;
// position: relative;

//&__btn-close {
//top: 20px;
// right: 20px;
//  width: 28px;
//height: 28px;
// cursor: pointer;
// }

// &__details {
//flex-direction: row;
//}

// &__photo {
// width: 192px;
//height: 281px;
// border-radius: 8px;
// overflow: hidden;
//  margin-right: 24px;
//}

// &__description {
//  max-width: 279px;
// }

// &__title {
//  font-size: 24px;
//  line-height: 28px;
// letter-spacing: -0.96px;
// margin-bottom: 8px;
// margin-top: 0;
// }

// &__author {
//  font-size: 14px;
//  line-height: 18px;
// letter-spacing: -0.56px;
//}

// &__text {
//   margin: 20px 0;
//}

// &__btn-add,
// &__btn-remove {
//   max-width: 499px;
//  width: 100%;
// padding: 20px 0;
// font-size: 18px;
//  line-height: 24px;
// letter-spacing: -0.18px;
// }

// &__comment {
// font-size: 12px;
// line-height: 14px;
// letter-spacing: -0.48px;
// max-width: 324px;
// }
// }
//}
 */