.centering {
  display: flex;
  text-align: start;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 112px;
  padding-left: 24px;
}

.support-shopping {
  display: none;
}

.shopping {
  display: flex;
  flex-direction: column;
}

.title-shopping {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-left: 20px;
  padding-bottom: 120px;
  width: 193px;
  height: 38px;
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.04em;
}

.title-list {
  color: #4f2ee8;
}

.empty-list {
  display: grid;
  grid-row: inherit;
  text-align: center;
  flex-direction: column;
  width: 265px;
  height: 248px;
  gap: 14px;
  padding-left: 55px;
}

.empty-list__text {
  font-family: DM Sans;
  width: 244px;
  height: 36px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: center;
}

.empty-list__image {
  display: flex;
  width: 265px;
  height: 198px;
}

//.shop-is-hidden {
//visibility: hidden;
//opacity: 0;
//pointer-events: none;
//transform: scale(0);
//}

.shopping-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

.shopping-gallery:first-child {
  padding-top: 40px;
}

.shop {
  width: 100%;
  max-width: 335px;
  height: 170px;
  border-radius: 16px;
  border: 2px solid var(--secondary-font-color);
  background-color: var(--quaternary-object-background-color);
  margin: auto;
  cursor: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: auto;

  &__btn-trash {
    background-color: var(--secondary-font-color);
    border-radius: 50px;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon-trash {
    fill: var(--quaternary-font-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: var(--denary-font-color);
      cursor: pointer;
    }
  }

  &__photo {
    width: 100px;
    height: 142px;
    border-radius: 8px;
    overflow: hidden;
    margin: 14px;
  }

  &__title {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: -0.64px;
    margin-bottom: 4px;
    margin-top: 14px;
    letter-spacing: -0.04em;
  }

  &__category {
    color: var(--tenth-font-color);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    margin: 8px 14px 14px 0;
    letter-spacing: -0.04em;
  }

  &__author {
    color: var(--tenth-font-color);
    font-size: 12px;
    font-style: italic;
    line-height: 14px;
    letter-spacing: -0.04em;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 14px;
  }

  &__amazon-book {
    display: flex;
    justify-content: flex-end;
    width: 56px;
    justify-content: space-between;

    &__amazon {
      width: 32px;
      height: 11px;
      background-image: url('/src/images/amazon.png');
      background-repeat: no-repeat;
    }

    &__icon-book {
      width: 16px;
      height: 16px;
      background-image: url('/src/images/amazon-book.png');
    }
  }
}

/*.popup-dark-theme {
  background-color: var(--main-dark-background-color);
  border: 2px solid var(--quaternary-border-color);
  color: var(--quaternary-font-color);
}

.icon-close-dark-theme {
  fill: var(--quaternary-font-color);
}

.amazon-dark-theme {
  background-image: url('/src/images/amazon-white.png');
}

.btn-add-dark-theme,
.btn-remove-dark-theme {
  color: var(--quaternary-font-color);
.comment-dark-theme {
  color: var(--nonary-font-color);
}*/

@include medium {
  .shopping-gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .title-shopping {
    padding-left: 32px;
    padding-bottom: 140px;
    padding-top: 40px;
    width: 292px;
    height: 52px;
    font-size: 48px;
    line-height: 52px;
    color: #111111;
  }

  .empty-list {
    width: 349px;
    height: 309px;
    gap: 20px;
    padding-left: 210px;
  }

  .empty-list__text {
    width: 349px;
    height: 48px;
    font-size: 18px;
    line-height: 24px;
  }

  .empty-list__image {
    width: 322px;
    height: 241px;
  }

  .shop {
    max-width: 704px;
    height: 213px;

    &__btn-close {
      width: 34px;
      height: 34px;
    }

    &__photo {
      width: 116px;
      height: 165px;
      margin: 24px;
    }

    &__title {
      margin-top: 24px;
    }

    &__text {
      margin: 14px 32px 35px 0;
    }

    &__amazon-book {
      width: 92px;
    }

    &__author {
      margin-bottom: 24px;
    }

    &__amazon {
      width: 48px;
      height: 15px;
    }

    &__icon-book {
      width: 28px;
      height: 27px;
    }
  }
}

@include large {
  .empty-list {
    padding-left: 355px;
  }

  .support-shopping {
    display: block;
  }

  .shop {
    max-width: 996px;

    &__text {
      margin: 14px 24px 35px 0;
    }
  }
}
