.menu-container {
  margin-top: 60px;
  display: flex;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  z-index: 1001;
  overflow-y: auto;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include medium {
    display: none;
  }
  &.is-open {
    transform: translateX(0);
  }
  &__image {
    background-image: url('../images/books-background@1x.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
